@model JokesWebApp.Models.UserBasicInfo

@{
    ViewData["Title"] = "Index";
    var UserId = Model.Id;
}

<h1>Profile</h1>


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Personal information
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                @if (Model == null)
                {
                    <div class="incomplete-profile">
                        <img src="@Url.Content("~/Media/add-user.PNG")" />
                        <a asp-action="Create"><button type="button" class="btn btn-primary">Complete your profile with us</button></a>
                    </div>

                }
                else
                {
                    <div class="Complete-profile">
                        <div class="section-header">
                            <h4 class="title">Personal information</h4>
                            <hr class="rule">
                        </div>
                        <div class="information">
                            <div class="field">
                                <p>Name </p>
                                <p>Date of birth </p>
                                <p>Current address: </p>
                            </div>
                            <div class="value">
                                <p>@Model.FirstName  @Model.LastName</p>
                                <p>@Model.BirthDate.ToShortDateString()</p>
                                <p>@Model.Address</p>
                            </div>


                        </div>
                        <div class="section-header">
                            <h4 class="title">Contact information</h4>
                            <hr class="rule">
                        </div>
                        <div class="information">
                            <div class="field">
                                <p>Phone</p>
                                <p>Email</p>
                            </div>

                            <div class="value">
                                <p>@Model.Phone</p>
                                <p>@Model.Email</p>
                            </div>
                        </div>
                        <a asp-action="Edit"><button type="button" class="btn btn-primary">Edit</button></a>

                    </div>

                }

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Insurance
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                @if (Model==null||Model.Insurance == null||!Model.Insurance.Any())
                {
                  <div class="incomplete-profile">
                    <img src="@Url.Content("~/Media/empty-folder.png")" />
                        <a asp-action="Create" asp-controller="UserInsurances"><button type="button" class="btn btn-primary">Add insurance</button></a>
                    </div>
                }
                else
                {
                    <div class="column-card-list">
                    @foreach(var insurance in Model.Insurance)
                    {
                       <div class="card">
                           <div class="card-body">
                               <h5>@insurance.CompanyName</h5>
                               <hr />
                               <div class="information">
                                   <div class="field">
                                       <p>Group Number</p>
                                       <p>Policy Number</p>
                                       <p>Copay Amount</p>
                                   </div>
                                   <div class="value">
                                       <p>@insurance.GroupNumber</p>
                                       <p>@insurance.PolicyNumber</p>
                                       <p>@insurance.CoPayAmount</p>
                                   </div>
                               </div>
                                <a asp-action="Delete" asp-controller="UserInsurances" asp-route-id=@insurance.Id class="btn btn-danger">Delete</a>
                           </div>
                       </div>
                       
                    }
                     <a asp-action="Create" asp-controller="UserInsurances" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                            Add insurance
                        </a>
                    </div>
                }


            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Payment
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                @if (Model == null || Model.Payments == null || !Model.Payments.Any())
                {
                    <div class="incomplete-profile">
                        <img src="@Url.Content("~/Media/icons8-add-card-58.png")" />
                        <a asp-action="Create" asp-controller="UserPayments" asp-route-id="@Model.Id"><button type="button" class="btn btn-primary">Add Payment</button></a>
                    </div>
                }
                else
                {
                    <div class="column-card-list">
                    
                    @foreach(var payment in Model.Payments)
                    {
                        <div class="card-tile">
                            <div class="card-number">**** **** **** @payment.CardNumber.Substring(payment.CardNumber.Length-4)</div>
                            <div class="expiry-date">Expires: @payment.ExpiryDate.Month / @payment.ExpiryDate.Year</div>
                            <a asp-action="Delete" asp-controller="UserPayments" asp-route-id="@payment.Id"> <img src="@Url.Content("~/Media/bin.png")" /></a>

                        </div>
                    }
                        <a asp-action="Create" asp-controller="UserPayments" class="btn btn-primary" asp-route-id="@Model.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                                Add Payment
                            </a>

                    </div>
                }
            </div>
        </div>
    </div>
</div>