@model IEnumerable<JokesWebApp.Models.UserFinancialActivity>

@{
    ViewData["Title"] = "Index";
}

<h1>Account Summary</h1>
@if (@ViewData["email"]?.ToString() == "admin123@gmail.com")
{
    // code to be rendered if ViewData["email"] equals to "admin123@gmail.com"
    <p>
        <a asp-action="Create">Create New Billing</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            @if (@ViewData["email"]?.ToString() == "admin123@gmail.com")
            {
                // code to be rendered if ViewData["email"] equals to "admin123@gmail.com"
            <th>
                User
            </th>
            }
            <th>
                @* @Html.DisplayNameFor(model => model.TransactionName)*@
                Item
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.TransactionType)*@
                Type
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PostedDate)*@
                Posted Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Charge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refund)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (@ViewData["email"]?.ToString() == "admin123@gmail.com")
            {
                // code to be rendered if ViewData["email"] equals to "admin123@gmail.com"
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.TransactionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Charge)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Refund)
            </td>
            @if (@ViewData["email"]?.ToString() == "admin123@gmail.com")
            {
                // code to be rendered if ViewData["email"] equals to "admin123@gmail.com"
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
